<div class="page-header">
  <h3>テスト：</h3>
</div>

<div class="list-group">
  <a href="/test/10" class="list-group-item">
    <h4 class="list-group-item-heading">10題</h4>
    <p class="list-group-item-text">英作文を10題出題します。</p>
  </a>
  <a href="/test/20" class="list-group-item">
    <h4 class="list-group-item-heading">20題</h4>
    <p class="list-group-item-text">英作文を20題出題します。</p>
  </a>
  <a href="/test/30" class="list-group-item">
    <h4 class="list-group-item-heading">30題</h4>
    <p class="list-group-item-text">英作文を30題出題します。</p>
  </a>
  <a href="/test/incorrect" class="list-group-item">
    <h4 class="list-group-item-heading">習熟度の低い問題</h4>
    <p class="list-group-item-text">正答率の悪い問題を10題出題します。</p>
  </a>
</div>
